/* Start Variables */
:root {
    --main-color: #10cab7;
}
/* End Variables */
/* Start Global Rules */
* {
    box-sizing: border-box;
}

body {
    font-family: "work Sans", sans-serif;
}

.container {
    /* padding: 0 15px;
    margin: 0 auto; */
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small Screen*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screen */
@media(min-width: 992px){
    .container {
        width: 970px;
    }
}
/* Large Screen */
@media(min-width: 1200px){
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start header */
header {
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 60px;
}

header .links {
    position: relative;
}

header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

header .links .icon span:first-child {
    width: 100%;
}

header .links .icon span:nth-child(2) {
    width: 60%;
    transform: 0.3s;
    -webkit-transform: 0.3s;
    -moz-transform: 0.3s;
    -ms-transform: 0.3s;
    -o-transform: 0.3s;
}

header .links .icon span:last-child {
    width: 100%;
}

header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    right: 0px;
    background-color: #f6f6f6;
    position: absolute;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

header .links ul::after {
    content: "";
    border: 10px solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}

header .links:hover ul {
    display: block;
}

header .links ul a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

header .links ul a:hover {
    padding-left: 25px;
}

header .links ul li:not(:last-child) {
    border-bottom: 1px dashed #ddd;
}

/* End header */
/* Start Landing Section */
.landing {
    background-image: url(../image/Moonlight.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    width: 320px;
    max-width: 100%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 34px;
}
/* End Landing Section */